{{#if locals.data.length}}
<h2>
	{{locals.data.name}}
</h2>
<h5>Made in: {{locals.data.year}}</h5>
<p>Length: {{locals.data.length}} minutes</p>
<p>{{locals.data.description}}</p>
<h4>Average score: {{locals.average}}</h4>
{{/if}}